@model Enfo.Domain.EpdContacts.Resources.EpdContactView
@if (!string.IsNullOrEmpty(Model.Telephone) || !string.IsNullOrEmpty(Model.Email))
{
    <p class="text-nowrap">
        <a href="mailto:@(Model.Email)">@Model.Email</a>
        @if (!string.IsNullOrEmpty(Model.Telephone) && !string.IsNullOrEmpty(Model.Email))
        {
            <br />
        }
        @Model.Telephone
    </p>
}