@page
@model Enfo.WebApp.Pages.Account.AccessDenied

@{
    ViewData["Title"] = "Access Denied";
}

<h1 class="gaepd-text-danger">@ViewData["Title"]</h1>
<p>You do not have access to the requested page.</p>