@page
@using Enfo.Domain.Users.Entities
@model Enfo.WebApp.Pages.Account.Index
@{
    ViewData["Title"] = "Account Profile";
}

<h1>@ViewData["Title"]</h1>
<h2>@Model.DisplayUser.Name</h2>
<p>
    <strong>Email:</strong> @Model.DisplayUser.Email
</p>

<h3>Roles</h3>
<p>Your account has the following application roles:</p>

<div class="gaepd-container-light">
    @if (Model.Roles is {Count: > 0 })
    {
        <dl>
            @foreach (var role in Model.Roles)
            {
                if (UserRole.AllRoles.TryGetValue(role, out var userRole))
                {
                    <dt>@userRole?.DisplayName</dt>
                    <dd>
                        <small class="gaepd-text-muted">@userRole?.Description</small>
                    </dd>
                }
            }
        </dl>
    }
    else
    {
        <p>
            <strong>None (view only)</strong>
        </p>
    }
</div>

<form asp-page="./Logout" asp-route-returnUrl="@Url.Page("/")" method="post">
    <button type="submit" class="usa-button-red">Sign out</button>
</form>