@page
@using Enfo.Domain.Entities.Users
@model Enfo.WebApp.Pages.Account.Index

@{
    ViewData["Title"] = "Account Profile";
}

<h1>@ViewData["Title"]</h1>
<h2>@Model.DisplayName</h2>
<p>@Model.Email</p>

@if (Model.Roles is {Count: > 0 })
{
    <h3>Roles</h3>
    <p>Your account has the following application roles:</p>
    <dl>
        @foreach (var role in Model.Roles)
        {
            if (UserRole.AllRoles.TryGetValue(role, out var userRole))
            {
                <dt>@userRole?.DisplayName</dt>
                <dd>
                    <small class="gaepd-text-muted">@userRole?.Description</small>
                </dd>
            }
        }
    </dl>
}

<form asp-page="./Logout" asp-route-returnUrl="@Url.Page("/")" method="post">
    <button type="submit" class="usa-button-red">Sign out</button>
</form>