@model Enfo.WebApp.Models.DisplayMessage

@if (Model != null)
{
    <div class="usa-alert @Model.AlertClass">
        @if (Model.ShowCloseButton)
        {
            <button type="button" class="usa-button  usa-button-gray gaepd-button-closealert" aria-label="Close alert">
                <span aria-hidden="true">×</span>
            </button>
        }
        <div class="usa-alert-body">
            <p class="usa-alert-text">@Model.Message</p>
        </div>
    </div>
}