<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]@(string.IsNullOrWhiteSpace(ViewData["Title"]?.ToString()) ? "" : " | ") Georgia EPD Enforcement Orders</title>
    <partial name="_FaviconPartial" />
    <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    <partial name="_RaygunScriptsPartial" />
    <script src="~/dist/site.bundle.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("ScriptFiles", required: false)
</head>
<body>
<environment exclude="Production">
    <div class="banner-test-site">
        Test Site
    </div>
</environment>

<a class="usa-skipnav" href="#main-content">Skip to main content</a>

<partial name="_MenuPartial" />

<main class="usa-grid usa-section usa-content usa-layout-docs" id="main-content">
    @RenderBody()
</main>

<div class="usa-footer usa-footer-medium" role="contentinfo">
    <div class="usa-grid usa-footer-return-to-top">
        <a href="#">Return to top</a>
    </div>
</div>
</body>
</html>