<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Georgia EPD</title>
    <partial name="_FaviconPartial" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/site.css" asp-append-version="true" />
    <environment exclude="Development">
        <link rel="stylesheet" href="https://georgia.gov/profiles/georgiagov/modules/custom/gagov_external_blocks/css/gagov_external_blocks-topper.css" />
        <link rel="stylesheet" href="https://georgia.gov/profiles/georgiagov/modules/custom/gagov_external_blocks/css/gagov_external_blocks-footer.css" />
    </environment>
    <script src="~/dist/vendor.bundle.js" asp-append-version="true" type="text/javascript" defer></script>
    @await RenderSectionAsync("ScriptFiles", required: false)
</head>
<body>
<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<environment exclude="Development">
    <script type="text/javascript" src="https://georgia.gov/gagov_external_blocks/topper"></script>
</environment>

<header class="usa-header usa-header-basic" role="banner">
    <div class="usa-nav-container">
        <div class="usa-navbar gaepd-navbar">
            <button class="usa-menu-btn">Menu</button>
            <div class="usa-logo gaepd-logo" id="logo">
                <em class="usa-logo-text">
                    <a accesskey="1" title="Home" aria-label="Home" class="gaepd-logo-link" href="~/">
                        <img src="~/assets/epd-icon.svg" alt="" />
                        <environment include="Development">
                            <span class="usa-label-big gaepd-label-dev">DEV</span>
                        </environment>
                        <environment include="Staging">
                            <span class="usa-label-big gaepd-label-uat">UAT</span>
                        </environment>
                        EPD Enforcement Orders
                    </a>
                </em>
            </div>
        </div>
        <nav role="navigation" class="usa-nav">
            <button class="usa-nav-close">
                <img src="~/assets/close.svg" alt="close">
            </button>
            <ul class="usa-nav-primary usa-accordion">
                <li class="js-search-button-container">
                    <a asp-page="/Search">Search</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<main class="usa-grid usa-section usa-content usa-layout-docs" id="main-content">
    @RenderBody()
</main>

<div class="usa-footer usa-footer-medium" role="contentinfo">
    <div class="usa-grid usa-footer-return-to-top">
        <a href="#">Return to top</a>
    </div>
</div>
<div class="gaepd-footer">
    <ul class="gaepd-footer-menu">
        <li>
            <a href="https://epd.georgia.gov/" target="_blank">Environmental Protection Division</a>
        </li>
        <li>
            <a href="https://georgia.gov/accessibility" target="_blank">Accessibility</a>
        </li>
        <li>
            <a href="https://www.gadnr.org/ada" target="_blank">DNR Accessibility Notice</a>
        </li>
        <li>
            <a href="https://georgia.gov/privacysecurity" target="_blank">Privacy/Security</a>
        </li>
    </ul>
    <environment exclude="Development">
        <script type="text/javascript" src="https://georgia.gov/gagov_external_blocks/footer"></script>
    </environment>
</div>
</body>
</html>