<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]@(string.IsNullOrWhiteSpace(ViewData["Title"]?.ToString()) ? "" : " | ") Georgia EPD Enforcement Orders</title>
    <partial name="_FaviconPartial" />
    <link rel="stylesheet" href="~/lib/uswds/css/uswds.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("Styles", required: false)
    <partial name="_RaygunScriptsPartial" />
</head>
<body>
<environment exclude="Production">
    <div class="banner-test-site">
        Test Site
    </div>
</environment>

<div class="usa-grid usa-section banner">
    <h3>Notice</h3>
    <p>There will be a scheduled major system maintenance outage for all EPD applications from 2 PM Friday, 12/15/2023 until 6 AM Monday, 12/18/2023.</p>
    <p>Please refer to the <a href="https://status.gaepd.org/" target="_blank" rel="noopener">EPD-IT status page</a> for updates.</p>
</div>

<a class="usa-skipnav" href="#main-content">Skip to main content</a>

<partial name="_MenuPartial" />

<main class="usa-grid usa-section usa-content usa-layout-docs" id="main-content">
    @RenderBody()
</main>

<div class="usa-footer usa-footer-medium" role="contentinfo">
    <div class="usa-grid usa-footer-return-to-top">
        <a href="#">Return to top</a>
    </div>
</div>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/uswds/js/uswds.min.js"></script>
<script src="~/js/closeAlert.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
