<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]@(string.IsNullOrWhiteSpace(ViewData["Title"].ToString()) ? "" : " | ") Georgia EPD Enforcement Orders</title>
    <partial name="_FaviconPartial" />
    <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    <environment exclude="Local">
        <link rel="stylesheet" href="https://georgia.gov/profiles/georgiagov/modules/custom/gagov_external_blocks/css/gagov_external_blocks-topper.css" />
        <link rel="stylesheet" href="https://georgia.gov/profiles/georgiagov/modules/custom/gagov_external_blocks/css/gagov_external_blocks-footer.css" />
    </environment>
    <partial name="_RaygunScriptsPartial" />
    <script src="~/dist/site.bundle.js" asp-append-version="true" type="text/javascript" defer></script>
    @await RenderSectionAsync("ScriptFiles", required: false)
</head>
<body>
<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<environment exclude="Local">
    <script type="text/javascript" src="https://georgia.gov/gagov_external_blocks/topper"></script>
</environment>

<partial name="_MenuPartial" />

<main class="usa-grid usa-section usa-content usa-layout-docs" id="main-content">
    @RenderBody()
</main>

<div class="usa-footer usa-footer-medium" role="contentinfo">
    <div class="usa-grid usa-footer-return-to-top">
        <a href="#">Return to top</a>
    </div>
</div>
<div class="gaepd-footer">
    <ul class="gaepd-footer-menu">
        <li>
            <a href="https://epd.georgia.gov/" target="_blank">Environmental Protection Division</a>
        </li>
        <li>
            <a href="https://georgia.gov/accessibility" target="_blank">Accessibility</a>
        </li>
        <li>
            <a href="https://www.gadnr.org/ada" target="_blank">DNR Accessibility Notice</a>
        </li>
        <li>
            <a href="https://georgia.gov/privacysecurity" target="_blank">Privacy/Security</a>
        </li>
    </ul>
    <environment exclude="Local">
        <script type="text/javascript" src="https://georgia.gov/gagov_external_blocks/footer"></script>
    </environment>
</div>
</body>
</html>