@using System.Globalization
@model Enfo.Domain.Pagination.IPaginatedResult
<div class="gaepd-pagination-count">
    Total results: @Model.TotalCount.ToString("N0", CultureInfo.InvariantCulture)
    @if (Model.TotalPages > 1)
    {
        <br />
        @($"Showing results {Model.FirstItemIndex} – {Model.LastItemIndex}")
    }
</div>