@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Enforcement Orders</h1>

<div class="usa-grid-full">
    <p class="usa-width-two-thirds">
        The Georgia Environmental Protection Division uses enforcement actions to correct serious environmental problems and to bring businesses,
        individuals, and government entities into compliance with environmental laws. The most common enforcement actions are consent orders and
        administrative orders. The order explains the nature of the problem, details the action necessary to correct the problem, and may or may
        not include a settlement amount or fine.
    </p>
</div>