@page
@model Enfo.WebApp.Pages.Admin.Maintenance.Index

@{
    ViewData["Title"] = "Site Maintenance";
}

<h1>@ViewData["Title"]</h1>

<p>Select a list to edit.</p>

<div class="usa-grid-full">
    <nav aria-label="Secondary navigation" class="usa-sidenav-list usa-width-one-third">
        <ul class="usa-sidenav-sub_list">
            <li>
                <a asp-page="Address/Index">@MaintenanceOption.Address.PluralName</a>
            </li>
            <li>
                <a asp-page="Contact/Index">@MaintenanceOption.EpdContact.PluralName</a>
            </li>
            <li>
                <a asp-page="LegalAuthority/Index">@MaintenanceOption.LegalAuthority.PluralName</a>
            </li>
        </ul>
    </nav>
</div>