@model Enfo.Repository.Resources.EpdContact.EpdContactView
<div class="text-nowrap">
    @Model.Telephone
    @if (!string.IsNullOrEmpty(Model.Telephone) && !string.IsNullOrEmpty(Model.Email))
    {
        <br />
    }
    @Model.Email
</div>