@page
@model Enfo.WebApp.Pages.Admin.Maintenance.LegalAuthorities.Add

@{
    ViewData["Title"] = $"Add a new {Add.ThisOption.SingularName}";
}

<h2>@ViewData["Title"]</h2>

<form method="post" class="usa-form-large">
    <div asp-validation-summary="ModelOnly" class="usa-alert usa-alert-error" role="alert"></div>

    <p>Required fields are marked with an asterisk (<abbr class="required-field-label" title="Required">*</abbr>).</p>

    <label asp-for="Item.AuthorityName"></label>
    <input asp-for="Item.AuthorityName" />
    <span asp-validation-for="Item.AuthorityName" class="usa-input-error-message"></span>

    <div class="gaepd-buttonrow">
        <button type="submit">Add New @Add.ThisOption.SingularName</button>
        <a asp-page="Index" class="usa-button usa-button-secondary">Cancel</a>
    </div>
</form>

@section ScriptFiles
{
    <script src="~/dist/formValidation.bundle.js" asp-append-version="true" type="text/javascript" defer></script>
}