@page "{id}"
@model Enfo.WebApp.Pages.Admin.Maintenance.LegalAuthorities.Edit
@{
    ViewData["Title"] = $"Edit {Edit.ThisOption.SingularName}: {Model.OriginalName}";
}

<h1>@ViewData["Title"]</h1>

<div class="gaepd-container-light">
    <form method="post" class="usa-form-large">
        <div asp-validation-summary="ModelOnly" class="usa-input-error-message"></div>

        <p>Required fields are marked with an asterisk (<abbr class="required-field-label" title="Required">*</abbr>).</p>

        <label asp-for="Item.AuthorityName"></label>
        <input asp-for="Item.AuthorityName" />
        <span asp-validation-for="Item.AuthorityName" class="usa-input-error-message"></span>

        <div class="gaepd-buttonrow">
            <input asp-for="Item.Id" />
            <button type="submit">Save Changes</button>
            <a asp-page="Index" class="usa-button usa-button-secondary">Cancel</a>
            <input asp-for="OriginalName" />
        </div>
    </form>
</div>

@section ScriptFiles
{
<script src="~/dist/formValidation.bundle.js" asp-append-version="true" defer></script>
}