# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.enforcement-orders.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\projects\enforcement-orders-new\.idea\.idea.enforcement-orders\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
